html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Ubuntu', sans-serif;
}


.intro{
	background: url("../Images/city_of_light.jpg")no-repeat 50% 50%;
	height: 100%;
	width: 100%;
}

#development-sign{
	padding-left: 42%;
	padding-top: 3%;
	font-size: 20px;
}