/*body{
	background-image: url("../Images/enter_page_background.jpg");
	background-repeat: no-repeat;
	background-position: fixed;
	font-family: 'Ubuntu', sans-serif;
	margin: 0px;
	height: 100%;
	width: 100%;
}


/*Mobile browsers*//*
@media screen and (max-width: 600px){
	body{
		
		background-image: url("../Images/enter_page_background.jpg");
		max-width: 100%;
		background-repeat: no-repeat;
		background-position: fixed;
	}

input{
	height: 40px;
	width: 235px;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	border-color:  transparent;
	padding-left: 10px;
    background-image: url("../Images/password_icon.png");
    background-repeat: no-repeat;
    background-position: 2px 10px;
    text-indent: 30px;
    margin: 0 auto;
    float: left;
}
.middle_class{
	text-align: center;
	margin: 0 auto;
	margin-top: 200px;
	width: 320px;
}

#wrong_input{
	background-color: #d03e37;
	color: white;
	width: 249px;
	height: 30px;
	border-radius: 2px;
	padding-top: 10px;
	margin: 0 auto;
	float: left;
}

}

/*for turned mobile phones*//*
@media screen and (max-height :900px) {
		body{
		
		background-image: url("../Images/enter_page_background.jpg");
		max-width: 100%;
		background-repeat: no-repeat;
		background-position: fixed;
	}

input{
	height: 40px;
	width: 235px;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	border-color:  transparent;
	padding-left: 10px;
    background-image: url("../Images/password_icon.png");
    background-repeat: no-repeat;
    background-position: 2px 10px;
    text-indent: 30px;
    margin: 0 auto;
    float: left;
}
.middle_class{
	text-align: center;
	margin: 0 auto;
	margin-top: 100px;
	width: 320px;
}

#wrong_input{
	background-color: #d03e37;
	color: white;
	width: 249px;
	height: 30px;
	border-radius: 2px;
	padding-top: 10px;
	margin: 0 auto;
	float: left;
}

}

/*Web browsers*/ /*
@media screen and (min-width: 600px){

input::-webkit-input-placeholder {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
}

input{
	height: 40px;
	width: 265px;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	border-color:  transparent;
	padding-left: 10px;
    background-image: url("../Images/password_icon.png");
    background-repeat: no-repeat;
    background-position: 2px 10px;
    text-indent: 30px;
    margin: 0 auto;
    float: left;
}

.middle_class{
	text-align: center;
	margin: 0 auto;
	margin-top: 280px;
	width: 320px;
}
#wrong_input{
	background-color: #d03e37;
	color: white;
	width: 279px;
	height: 30px;
	border-radius: 2px;
	padding-top: 10px;
	margin: 0 auto;
	float: left;
}
}

.block{
 	display: block;
}*/

/*Web browsers*/
@media screen and (min-width: 600px){

*{
	padding: 0;
	margin: 0;
}

body{
	background-image: url("../Images/city_of_light.jpg");
	background-repeat: no-repeat;
	background-position: fixed;
	background-size: cover;
	font-family: 'Ubuntu', sans-serif;
	margin: 0px;
	height: 100%;
	width: 100%;

}


.top_div{
	height: 100px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

.animate_name{
	list-style: none;
	position: absolute;
	left: 50%;
	top:20%;
	transform: translateX(-50%) translateY(-50%);
}

.animate_name li{
	display: inline-block;
	margin-right: 5px;
	font font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 3em;
	color: white;
	opacity: 0.7;
}

.animate_name.hidden{
	opacity: 0;
}

#evren_demir{
	font-size: 45px;
	margin: 0 auto;
	text-align: center;
	color: 	white;
}

.bottom_div{
	padding-left: 18%;
	padding-top: 10%;
}	

.navigation_element{
	text-align: center;
	height: 80px;
	width: 150px;
	border-radius: 4px;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 80px;
	margin-right: 20px;
	background-color: rgba(255, 255, 255, 0.4);
}

.a_element{
	text-decoration: none;
	color: 	white;
	padding-top: 30px;
}

}

@media screen and (max-width: 600px){

*{
	padding: 0;
	margin: 0;
}

body{
	background-image: url("../Images/city_of_light.jpg");
	background-repeat: no-repeat;
	background-position: fixed;
	background-size: cover;
	font-family: 'Ubuntu', sans-serif;
	margin: 0px;

}


.top_div{
	height: 100px; 
}

.animate_name{
	list-style: none;	
	position: absolute;
	left: 20%;
	top: 10%;
}

.animate_name li{
	display: inline-block;
	margin-right: 3px;
	font font-family: 'Ubuntu', sans-serif;
	font-size: 2em;
	color: white;
	opacity: 0.7;
}

.animate_name.hidden{
	opacity: 0;
}

#evren_demir{
	font-size: 45px;
	margin: 0 auto;
	text-align: center;
	color: 	white;
}

.bottom_div{
	padding-left: 18%;
}	

.navigation_element{
	text-align: center;
	height: 60px;
	width: 120px;
	border-radius: 4px;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 40px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.4);
}

.a_element{
	text-decoration: none;
	color: 	white;
	padding-top: 30px;
}

}