body{
	height: 100%;
	width: 100%;
	background-image: url("../Images/enter_page_background.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	position: fixed;
	font-family: 'Ubuntu', sans-serif;

 

}

input{
	height: 40px;
	width: 265px;
	border-radius: 2px;
	border-color:  transparent;
	padding-left: 10px;
	display: block;
    background-image: url("../Images/password_icon.png");
    background-repeat: no-repeat;
    background-position: 2px 10px;
    text-indent: 30px;

}
input::-webkit-input-placeholder {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
}

.middle_class{
	text-align: center;
	width:17%;
	margin: 0 auto;
	left: 50%;
	right: 50%;
	margin-top: 20%;

	
}

img {

}